.common {
    font-family: 'Inter', sans-serif;
    color: #36454F;

    margin: 25px 0 0 10px;
    transition: all ease-in-out 450ms;
    animation: 600ms fade-in;

    height: 200px;
    width: 400px;
    background-color: rgba(100, 100, 100, 0.5);
    display: inline-block;

    position: relative;

    padding: 10px;

    border-radius: 5px;
}

/* .common:hover {
    background-color: palegreen;
} */

.icon-wrapper {
    position: absolute;
    top: 0;
    right: -40px;
}

.gear-icon {
    width: 25px;
    cursor: pointer;
}

.gear-icon:hover {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
